# Python
__pycache__/
*.pyc
*.pyo
.venv/

# ROS2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Output & generated
outputs/
ros_outputs/


# Data & large files
data/
*.pt
*.pdf
*.zip

# OS
.DS_Store
